body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    zoom: 1.6;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 3px;
    color: #9AABD8;
    padding: 10px 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}
.score {
  text-align: center;
  font-size: 90px;
  font-family: 'Cursed Timer ULiL', sans-serif;
  color: #F94F6D;                                             
  background-color: #080001;
  padding: 20px 0px 10px 10px;
  margin: 10px 0px 30px;
  border-radius: 10px;
}