
body {
    margin: 0;
    text-align: center;
    font-family: "Happy Monkey", system-ui
    
    
}

img {
    width: 100px;
}
#hero {
    background-image: url('https://fortekochi.in/images/blog/queen-of-the-arabian-sea-7.jpg');
    height: 300px;
    color: white;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#activity{
    background-color: #F1FAEE;
    height: 200px;
    color: #251F47;
  
    
    
}
.image {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    border: 5px solid #251F47;
}


#guide {
    width: 400px;
    height: 150px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #A8DADC;
    border-bottom: 6px solid #d8cefe;
    border-radius: 20px;
}